{% extends 'layouts/base_cop.html' %}
{% load static %}


{% block content %}

  <div class="col-xl-4 col-md-6 d-flex flex-column mx-auto">
    <div class="card card-plain mt-8">
      <div class="card-header pb-0 text-left bg-transparent">
        <h3 class="font-weight-black text-dark display-6">Bienvenido</h3>
        <p class="mb-0">Ingresa tus datos</p>
      </div>
      <div class="card-body">
        <form method="post" role="form">
          {% csrf_token %}
          
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <span class="d-block text-danger">{{ error }}</span>
            {% endfor %}
          {% endif %}

          {% for field in form %}
            <label>{{ field.label }}</label>
            <div class="mb-3">
              {{ field }}
            </div>
          {% endfor %}
       
          <div class="text-center">
            <button type="submit" class="btn btn-dark w-100 mt-4 mb-3">Ingresar</button>
          
          </div>
        </form>
      </div>
      <div class="card-footer text-center pt-0 px-lg-2 px-1">
   
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="position-absolute w-40 top-0 end-0 h-100 d-md-block d-none">
      <div class="oblique-image position-absolute fixed-top ms-auto h-100 z-index-0 bg-cover ms-n8" style="background-image:url('{% static 'assets/img/image-sign-in.jpg' %}')">
      </div>
    </div>
  </div>
  
{% endblock content %}
